<%- include ("./partials/header") %>

    <% if(results.length >0){%>

        <div>
            <h2 style="text-align: center;">Your Cart</h2>
        </div>
        <hr>

        <div class="row container-fluid" style=" justify-content: center;">
            <% 
         var total =0;
            for(var i = 0; i< results.length; i++) { total = total + results[i].price
               %>
                <div class=" searchCard card my-2 mx-1  mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/<%-results[i].productId%>.jpg" alt="" height="350px">
                    <hr>
                    <div class="  card-body">

                        <h3 class="card-title">
                            <%-results[i].product %>
                        </h3>
                        <h5>
                            <%-results[i].description%>
                        </h5>
                        <h5>
                            <h5>
                                Rs.
                                <%-results[i].price%>.00
                            </h5>
                            <hr>
                            <a class="btn btn-success edit" href="/cart/<%=results[i].productId%>" style="float: right;">Remove From Cart</a>
                    </div>
                </div>
                <%}%>
        </div>
        <div class=" searchCard card my-2 mx-1  mb-3" style="width: 10rem;">
            <div class="  card-body" style="float: right; text-align: center;">

                <h3 class="card-title">
                    Total
                </h3>
                <h5>
                    Rs.
                    <%-total%>.00
                </h5>
                <a class="btn btn-success edit" href="/cart/checkout" style="float: right;">Check Out</a>
            </div>
        </div>
        <% } else { %>

            <div style="text-align: center; min-height: 90vh;  display: flex; justify-content: center; align-items: center; font-weight: bold;">
                <p>Nothing in Cart</p>
            </div>
            <%}%>

            <%- include ("./partials/footer") %>